.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main_box{
  display: flex;
}
.circularBox , .prograssBox{
  flex: 1;
}
.prograssBox{
  text-align: center;
}
.prograssBox .inner_progress{
  width: 250px;
  margin: 40px auto;
}
.prograssBox ul{
  list-style-type: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prograssBox ul li{
  margin-bottom: 20px;
  padding: 20px 0px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  background-color: #d6d6d6;
  cursor: pointer;
}
.circularBox{
  border-right: 1px solid ;
}
.circularBox .inner_cBox{
  width: 200px;
  height: 200px;
  margin: 40px auto;
}
@media only screen and (max-width : 768px){
   .main_box{
    flex-direction: column;
   }
   .circularBox{
    border-bottom: 1px solid ;
    border-right: 0px;
    padding-bottom: 30px;
  }
}